{% extends "base.html" %}

{% block title %} Article List{% endblock %}

{% block headers %}<h1> Article</h1><h2> List</h2>{% endblock %}

{% block content %}
    <table>
        <tr>
            <td>Id</td>
            <td>title</td>
            <td>published_at</td>
            <td>content</td>
            <td>category</td>
            <td>操作</td>
        </tr>
        {% for item in list_items.object_list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.published_at }}</td>
                <td>{{ item.content }}</td>
                <td>{{ item.content }}</td>
                <td>{{ item.category }}</td>
                <td>
                    <a href="{% url blog.views.view_article item.id %}">View</a>
                    <a href="{% url blog.views.edit_article item.id %}">Edit</a>
                    <a href="{% url blog.views.delete_article item.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}