{% extends "base.html" %}

{% block title %}List Category{% endblock %}

{% block headers %}<h1> List</h1><h2> Category</h2>{% endblock %}

{% block content %}
    <table>
        <tr>
            <td>Id</td>
            <td>name</td>
            <td>操作</td>
        </tr>
        {% for item in list_items.object_list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>
                    <a href="{% url blog.views.view_category item.id %}">View</a>
                    <a href="{% url blog.views.edit_category item.id %}">Edit</a>
                    <a href="{% url blog.views.delete_category item.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}