<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
    <h2>通讯录</h2>
    <table border="1">
        <tr>
            <th>姓名</th>
            <th>地址</th>
        </tr>
        {% for user in address %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.address }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
<p><a href="/csv/address">CSV文档格式下载</a></p>
</html>