<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>thanks html</title>
</head>
<body>
    <h1>Ordering notice</h1>
    <p>Dear {{ person_name }}</p>
    <p>Thanks for placing an order from {{ company }}. It's scheduled to scheduled to
    ship on {{ ship_date|date:"F j,Y" }}</p>
    <p>Here are the items you are ordered:</p>
    <ul>
        {% for item in item_list %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</body>
</html>