<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
    <div class="article">
        <div class="title">标题: {{ article.title }}</div>
        <div class="pub_date">{{ article.published_at }}</div>
        <div class="content">{{ article.content }}</div>
        <div class="category">发表于: {{ article.category.name }}</div>
    </div>
    <p><a href="/admin/blog/article/{{ article.id }}">修改</a></p>
    <p><a href="/blog">BACK</a></p>
</body>
</html>